CACHE_DATABASE_USERNAME=<username>
CACHE_DATABASE_USER_PASSWORD=<user password>
CACHE_PORT=<db listen port>
CACHE_DATABASE_MODEL_SPACE=<model space name>
CACHE_DATABASE_WEIGHT_SPACE=<weight space name>
